/obj/Debug/netcoreapp3.1/EisenhowerMain.assets.cache
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/.gitignore
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/.name
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/EisenhowerMain.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/EisenhowerMain.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.AssemblyReference.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.FileListAbsolute.txt
/obj/EisenhowerMain.csproj.nuget.dgspec.json
/obj/EisenhowerMain.csproj.nuget.g.props
/obj/EisenhowerMain.csproj.nuget.g.targets
/bin/Debug/netcoreapp3.1/EisenhowerMain.deps.json
/bin/Debug/netcoreapp3.1/EisenhowerMain.dll
/obj/Debug/netcoreapp3.1/EisenhowerMain.dll
/bin/Debug/netcoreapp3.1/EisenhowerMain.exe
/obj/Debug/netcoreapp3.1/EisenhowerMain.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/EisenhowerMain.genruntimeconfig.cache
/bin/Debug/netcoreapp3.1/EisenhowerMain.pdb
/obj/Debug/netcoreapp3.1/EisenhowerMain.pdb
/bin/Debug/netcoreapp3.1/EisenhowerMain.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/EisenhowerMain.runtimeconfig.json
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/encodings.xml
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/vcs.xml
/.idea/.idea.EisenhowerMatrix.dir/.idea/encodings.xml
/.idea/.idea.EisenhowerMatrix.dir/.idea/indexLayout.xml
/.idea/.idea.EisenhowerMatrix.dir/.idea/vcs.xml
/.idea/.idea.EisenhowerMatrix.dir/.idea/.gitignore
/obj/*
/.vs/*
/obj
/.vs
/.idea/.idea.EisenhowerMatrix/.idea/.gitignore
/EisenhowerMain.Test/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/bin/Debug/netcoreapp3.1/Azure.Core.dll
/bin/Debug/netcoreapp3.1/Azure.Identity.dll
/bin/Debug/netcoreapp3.1/CsvHelper.dll
/.idea/.idea.EisenhowerMatrix.dir/.idea/dataSources.xml
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.AssemblyInfo.cs
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.AssemblyInfoInputs.cache
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.assets.cache
/EisenhowerMain.Test/EisenhowerMain.Test.csproj
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.csproj.AssemblyReference.cache
/EisenhowerMain.Test/obj/EisenhowerMain.Test.csproj.nuget.dgspec.json
/EisenhowerMain.Test/obj/EisenhowerMain.Test.csproj.nuget.g.props
/EisenhowerMain.Test/obj/EisenhowerMain.Test.csproj.nuget.g.targets
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.GeneratedMSBuildEditorConfig.editorconfig
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.GlobalUsings.g.cs
/.idea/.idea.EisenhowerMatrix/.idea/encodings.xml
/.idea/.idea.EisenhowerMatrix/.idea/indexLayout.xml
/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netstandard2.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.Extensions.Msal.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Abstractions.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/bin/Debug/netcoreapp3.1/Microsoft.SqlServer.Server.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/Microsoft.Win32.Registry.dll
/bin/Debug/netcoreapp3.1/Microsoft.Win32.Registry.dll
/EisenhowerMain.Test/obj/project.assets.json
/EisenhowerMain.Test/obj/project.nuget.cache
/EisenhowerMain.Test/obj/project.packagespec.json
/EisenhowerMain.Test/obj/rider.project.restore.info
/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/bin/Debug/netcoreapp3.1/System.Formats.Asn1.dll
/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/bin/Debug/netcoreapp3.1/System.Memory.Data.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Runtime.Caching.dll
/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/bin/Debug/netcoreapp3.1/System.Runtime.CompilerServices.Unsafe.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Security.Cryptography.Cng.dll
/bin/Debug/netcoreapp3.1/System.Security.Cryptography.Cng.dll
/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/System.Text.Encoding.CodePages.dll
/bin/Debug/netcoreapp3.1/System.Text.Encoding.CodePages.dll
/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
/bin/Debug/netcoreapp3.1/System.Text.Json.dll
/.idea/.idea.EisenhowerMatrix/.idea/vcs.xml
/.idea/.idea.EisenhowerMatrix/.idea/dataSources.xml
/bin/Debug/netcoreapp3.1/EisenhowerMain.dll.config
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.csproj.CopyComplete
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.csproj.CoreCompileInputs.cache
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.csproj.FileListAbsolute.txt
/EisenhowerMain.Test/bin/Debug/net7.0/EisenhowerMain.Test.deps.json
/EisenhowerMain.Test/bin/Debug/net7.0/EisenhowerMain.Test.dll
/EisenhowerMain.Test/obj/Debug/net7.0/ref/EisenhowerMain.Test.dll
/EisenhowerMain.Test/obj/Debug/net7.0/refint/EisenhowerMain.Test.dll
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.dll
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.genruntimeconfig.cache
/EisenhowerMain.Test/bin/Debug/net7.0/EisenhowerMain.Test.pdb
/EisenhowerMain.Test/obj/Debug/net7.0/EisenhowerMain.Test.pdb
/EisenhowerMain.Test/bin/Debug/net7.0/EisenhowerMain.Test.runtimeconfig.json
/EisenhowerMatrix.sln.DotSettings.user
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/EisenhowerMain.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CoreUtilities.dll
/EisenhowerMain.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/EisenhowerMain.Test/bin/Debug/net7.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.TestPlatform.Utilities.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/EisenhowerMain.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/EisenhowerMain.Test/bin/Debug/net7.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/EisenhowerMain.Test/bin/Debug/net7.0/Newtonsoft.Json.dll
/EisenhowerMain.Test/bin/Debug/net7.0/NuGet.Frameworks.dll
/EisenhowerMain.Test/bin/Debug/net7.0/nunit.engine.api.dll
/EisenhowerMain.Test/bin/Debug/net7.0/nunit.engine.core.dll
/EisenhowerMain.Test/bin/Debug/net7.0/nunit.engine.dll
/EisenhowerMain.Test/bin/Debug/net7.0/nunit.framework.dll
/EisenhowerMain.Test/bin/Debug/net7.0/NUnit3.TestAdapter.dll
/EisenhowerMain.Test/bin/Debug/net7.0/NUnit3.TestAdapter.pdb
/.idea/.idea.EisenhowerMatrix/.idea/sqldialects.xml
/EisenhowerMain.Test/bin/Debug/net7.0/testcentric.engine.metadata.dll
/EisenhowerMain.Test/bin/Debug/net7.0/testhost.dll
/EisenhowerMain.Test/bin/Debug/net7.0/testhost.exe
