/obj/Debug/netcoreapp3.1/EisenhowerMain.assets.cache
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/.gitignore
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/.name
/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/obj/Debug/netcoreapp3.1/apphost.exe
/obj/Debug/netcoreapp3.1/EisenhowerMain.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/EisenhowerMain.AssemblyInfoInputs.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.AssemblyReference.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.CoreCompileInputs.cache
/obj/Debug/netcoreapp3.1/EisenhowerMain.csproj.FileListAbsolute.txt
/obj/EisenhowerMain.csproj.nuget.dgspec.json
/obj/EisenhowerMain.csproj.nuget.g.props
/obj/EisenhowerMain.csproj.nuget.g.targets
/bin/Debug/netcoreapp3.1/EisenhowerMain.deps.json
/bin/Debug/netcoreapp3.1/EisenhowerMain.dll
/obj/Debug/netcoreapp3.1/EisenhowerMain.dll
/bin/Debug/netcoreapp3.1/EisenhowerMain.exe
/obj/Debug/netcoreapp3.1/EisenhowerMain.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/netcoreapp3.1/EisenhowerMain.genruntimeconfig.cache
/bin/Debug/netcoreapp3.1/EisenhowerMain.pdb
/obj/Debug/netcoreapp3.1/EisenhowerMain.pdb
/bin/Debug/netcoreapp3.1/EisenhowerMain.runtimeconfig.dev.json
/bin/Debug/netcoreapp3.1/EisenhowerMain.runtimeconfig.json
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/encodings.xml
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/indexLayout.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/.idea/.idea.EisenhowerMatrixApp.dir/.idea/vcs.xml
